#menu-right {
    width: 260px;
    padding: 0px 16px 0px 16px;
    gap: 81px;
}

#text-sub-menuR {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #838383;
}

#text-contact-online {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #4284F3;
}
